<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Q&A - MainPage</title>

	<!-- css -->
	<div th:insert="~{css :: css}"></div>
	
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div th:insert="~{sidebar :: sidebar}"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
        		<div th:insert="~{topbar :: topbar}"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                
                <div class="container-fluid">
					<div class="row">

                        <div class="col-xl-8 col-lg-7">

                            <!-- Area Chart -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
									<h5>질문등록</h5>
                                </div>
                                <div class="card-body">
									<form th:action="@{/question/create}" method="post">
										<div class="mb-3">
											<label for="subject" class="form=label">제목</label>
											<input type="text" name="subject" id="subject" class="form-control">
										</div>
										<div class="mb-3">
											<label for="content" class="form=label">내용</label>
											<textarea name="content" id="content" class="form-control" rows="10"></textarea>
										</div>
										<input type="submit" value="저장하기" class="btn btn-primary">
									</form>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
        	<div th:insert="~{footer :: footer}"></div>
            <!-- Footer -->
  
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

	<!-- 기타 기능 -->
 	<div th:insert="~{etc :: etc}"></div>

	<!-- .js files -->
	<div th:insert="~{js :: js}"></div>


</body>

</html>