<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Q&A - MainPage</title>

	<!-- css -->
	<div th:insert="~{css :: css}"></div>
	
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div th:insert="~{sidebar :: sidebar}"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
        		<div th:insert="~{topbar :: topbar}"></div>
                <!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">
				
				    <div class="card shadow mb-4">
				
				        <div class="card-header py-3">
				            <h1 th:text="${question.subject}"></h1>
				        </div>
				        <div class="card-body" th:text="${question.content}"></div>
				        <hr>
				        <div>
				            <ul>
				                <li th:each="answer : ${question.answerList}" th:text="${answer.content}"></li>
				            </ul>
				        </div>
				        <div class="row">
				            <div class="col-md-3">
				                <form th:action="@{|/answer/create/${question.id}|}" method="post" class="input-group">
				                    <textarea class="form-control form-control-sm" name="content" id="content" rows="1"></textarea>
				                    <div class="input-group-append">
				                        <input class="btn btn-primary" type="submit" value="답변등록">
				                    </div>
				                </form>
				            </div>
				        </div>
				    </div>
				
				</div>
				<!-- /.container-fluid -->

            	</div>
            <!-- End of Main Content -->
        	<div th:insert="~{footer :: footer}"></div>
            <!-- Footer -->
  
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

	<!-- 기타 기능 -->
 	<div th:insert="~{etc :: etc}"></div>

	<!-- .js files -->
	<div th:insert="~{js :: js}"></div>


</body>

</html>